<a href="https://colab.research.google.com/github/aparna2903/letsupgreade-Python-Batch-7/blob/master/data_science_batch_1_assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# Questions 1: 
# How to import pandas and check the version?

import pandas as pd
print(pd.__version__)



# Questions 2: 
# How to create a series from a numpy array?

import pandas as pd 
import numpy as np 
  
# numpy array 
data = np.array(['A', 'P', 'A', 'R', 'N', 'A']) 
  
# creating series 
s = pd.Series(data) 
print(s)



# Questions 3: 
# How to convert the index of a series into a column of a dataframe?

import pandas as pd 
  
  
# Creating the dataframe df 
df = pd.DataFrame({'Roll Number': ['1', '2', '3', '4'], 
                   'Name': ['Ayesha', 'Sonali', 'Aarti', 'Snehal'], 
                   'Marks In Percentage': [97, 90, 70, 82], 
                   'Grade': ['A', 'A', 'C', 'B'], 
                   'Subject': ['Physics', 'Physics', 'Physics', 'Physics']}) 
  
# Printing the dataframe 
df



# Questions 4: 
# Write the code to list all the datasets available in seaborn library. 
# Load the mpg dataset

import seaborn as sns
tips = sns.load_dataset('tips')
tips.head()

mpg = sns.load_dataset('mpg')
mpg.head()

print(mpg)



# Questions 5: 
# Which country origin cars are a part of this dataset?


mpg = sns.load_dataset('mpg')
df = pd.DataFrame(mpg)
df.origin.unique()



# Questions 6: 
# Extract the part of the dataframe which contains cars belonging to usa

import pandas as pd 
import seaborn as sns

mpg = sns.load_dataset('mpg')
df = pd.DataFrame(mpg)
df[df['origin'].str.contains('usa')]

1.1.4
0    A
1    P
2    A
3    R
4    N
5    A
dtype: object
      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]